


/*===========================
      11.BRAND css hay que crear el carrusel
===========================*/

.brand_area{
    background-color: #C4E3E0;
}


.single_brand{
    background-color: $white;
    width: 100%;
    
    border-radius: 10px;
    @include box-shadow (0px 3px 16px 0px rgba($shadow, 0.20));
    padding: 20px;
    padding-top: 28px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    & .testimonial_author{
        position: absolute;
        left: 30px;
        top: -38px;
        
        
        & img{
          max-widht: 100px;
          height: 100px;  
        }
    }
    & .testimonial_content{
        position: relative;
        
    }
}



.testimonial_active{
    & .slick-dots{
        width: 100%;
        text-align: center;
        
        & li{
            display: inline-block;
            margin: 0 3px;
            
            & button{
                width: 12px;
                height: 12px;
                background: none;
                background-color: $theme-color;
                border-radius: 50px;
                font-size: 0;
                @include transition(0.3s);
                border: 0;
            }
            
            &.slick-active{
                & button{
                    width: 37px;
                }
            }
        }
    }
}
