


/*===========================
       08.GROWTH css 
===========================*/

.growth_area{
    position: relative;
    z-index: 5;
}

.growth_content{
    & p{
        margin-top: 20px;
    }
    & .growth_title{
        font-size: 20px;
        font-weight: 700;
        margin-top: 25px;
    }
}

.growth_image{
    & .image{
        width: 100%;
        @include box-shadow (0px 3px 16px 0px rgba($shadow, 0.15));
    }
}






